<h1>Welcome to Bovee's Burgers!</h1>

<div>
    <form class="newBurgerForm">
        <h2>Create Your Own Burger Name</h2>
        <input id="burger_name" placeholder="Type New Burger"></input>
        <button id="burgerButton">Save</button>
    </form>
</div>

<div class="todevour">
    <h2>Burgers Devoured</h2>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>{{ burger_name }}</li>
        <button class="devoured" value="0" name="{{id}}" type="submit">Devour</button>
        {{/unless}}
        {{/each}}

    </ul>
</div>
</div class="devouredList">
{{#each burgers}}
{{#if devoured}}
<li>{{ burger_name }}</li>
{{/if}}
{{/each}}
</div>