body {
background-color: lightskyblue;
    margin-left: 10%;
}


h1 {
    color: rgb(150, 18, 18);
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin-bottom: 100px;
}

h2 {
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
    font-weight: bold;
}

.currentList {
    margin-top: 2%;
    
}

.devoured {
    float: right;
    margin-right: 20%;
    margin-top: 0;
    margin-bottom: auto;

}

.create {
    margin-top: 16%;
    margin-left: -5%;
}

button {
    color: white;
    background-color: rgb(150, 18, 18);
    border-radius: 10%;
    padding: 1%;
    font-family: American Typewriter, serif;
}

p {
    color: green;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;

}

textarea {
    border: 1px solid black;
    height: 30px;    
}

#createbtn {
    margin-bottom: 5%;
    border-radius: 10%;
}

#createdHeading {
    margin-left: -2%;
}